blueprints/scenario-2-calcom-to-clickup.json
{
    "name": "Booking Confirmed – Cal.com to ClickUp",
    "flow": [
        {
            "id": 10,
            "module": "cal-com:calSubscribe",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 3414447
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "My subscribe_booking_created webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:cal-com",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "clickup:createTaskInList",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 9119675
            },
            "mapper": {
                "name": "Onboarding{{10.payload.attendees[].name}}",
                "content": "New client booked a discovery call.\n\nName: {{10.payload.attendees[].name}}\nEmail: {{10.payload.attendees[].email}}\nScheduled: {{formatDate(10.payload.startTime; \"DD.MM.YYYY\")}}",
                "list_id": "901520402237",
                "team_id": "90152291874",
                "space_id": "90159664157",
                "folder_id": "folderlessList",
                "notify_all": false,
                "due_date_time": false,
                "start_date_time": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "tags": {
                            "mode": "chose"
                        },
                        "status": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "list_id": {
                            "label": "Client onboarding [Tasks: 0]"
                        },
                        "team_id": {
                            "label": "Dami's Workspace"
                        },
                        "priority": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "space_id": {
                            "label": "Team Space"
                        },
                        "assignees": {
                            "mode": "chose"
                        },
                        "folder_id": {
                            "label": "<Folderless Lists>"
                        },
                        "notify_all": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "Plain Text"
                        },
                        "due_date_time": {
                            "mode": "chose"
                        },
                        "parent_task_id": {
                            "mode": "chose"
                        },
                        "start_date_time": {
                            "mode": "chose"
                        },
                        "time_estimate_in": {
                            "label": "Empty"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "clickup2"
                            },
                            "label": "My ClickUp connection (dami)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:clickup2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "team_id",
                        "type": "select",
                        "label": "Workspace",
                        "required": true
                    },
                    {
                        "name": "space_id",
                        "type": "select",
                        "label": "Space",
                        "required": true
                    },
                    {
                        "name": "folder_id",
                        "type": "select",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "list_id",
                        "type": "select",
                        "label": "List",
                        "required": true
                    },
                    {
                        "name": "parent_task_id",
                        "type": "select",
                        "label": "Parent Task ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Task Name",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "validate": {
                            "enum": [
                                "markdown"
                            ]
                        }
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                    },
                    {
                        "name": "assignees",
                        "type": "select",
                        "label": "Assignees",
                        "multiple": true
                    },
                    {
                        "name": "tags",
                        "type": "select",
                        "label": "Tags",
                        "multiple": true
                    },
                    {
                        "name": "status",
                        "type": "select",
                        "label": "Status"
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "urgent",
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "due_date",
                        "type": "date",
                        "label": "Due Date"
                    },
                    {
                        "name": "due_date_time",
                        "type": "boolean",
                        "label": "Due Date Time",
                        "required": true
                    },
                    {
                        "name": "time_estimate_in",
                        "type": "select",
                        "label": "Estimated Time in",
                        "validate": {
                            "enum": [
                                "m",
                                "h",
                                "d"
                            ]
                        }
                    },
                    {
                        "name": "start_date",
                        "type": "date",
                        "label": "Start Date"
                    },
                    {
                        "name": "start_date_time",
                        "type": "boolean",
                        "label": "Start Date Time",
                        "required": true
                    },
                    {
                        "name": "notify_all",
                        "type": "boolean",
                        "label": "Notify All",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Task ID"
                    },
                    {
                        "name": "sharing",
                        "spec": [
                            {
                                "name": "public",
                                "type": "boolean",
                                "label": "Public"
                            },
                            {
                                "name": "public_share_expires_on",
                                "type": "date",
                                "label": "Public Share Expires On"
                            },
                            {
                                "name": "token",
                                "type": "text",
                                "label": "Token"
                            },
                            {
                                "name": "seo_optimized",
                                "type": "boolean",
                                "label": "SEO Optimized"
                            },
                            {
                                "name": "public_fields",
                                "type": "array",
                                "label": "Public Fields"
                            }
                        ],
                        "type": "collection",
                        "label": "Sharing"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Task Name"
                    },
                    {
                        "name": "custom_id",
                        "type": "text",
                        "label": "Custom ID"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "text_content",
                        "type": "text",
                        "label": "Text Content"
                    },
                    {
                        "name": "custom_item_id",
                        "type": "text",
                        "label": "Custom Item ID"
                    },
                    {
                        "name": "date_done",
                        "type": "date",
                        "label": "Date Done"
                    },
                    {
                        "name": "markdown_description",
                        "type": "text",
                        "label": "Markdown Description"
                    },
                    {
                        "name": "top_level_parent",
                        "type": "text",
                        "label": "Top Level Parent"
                    },
                    {
                        "name": "group_assignees",
                        "type": "array",
                        "label": "Group Assignees"
                    },
                    {
                        "name": "locations",
                        "type": "array",
                        "label": "Locations"
                    },
                    {
                        "name": "subtasks",
                        "spec": {
                            "spec": [
                                "rpc://clickup@2/InterfaceTasks"
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Subtasks"
                    },
                    {
                        "name": "status",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "status",
                                "type": "text",
                                "label": "Status"
                            },
                            {
                                "name": "color",
                                "type": "color",
                                "label": "Color"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "orderindex",
                                "type": "number",
                                "label": "Order Index"
                            }
                        ],
                        "type": "collection",
                        "label": "Status"
                    },
                    {
                        "name": "orderindex",
                        "type": "text",
                        "label": "Order Index"
                    },
                    {
                        "name": "date_created",
                        "type": "date",
                        "label": "Date Created"
                    },
                    {
                        "name": "date_updated",
                        "type": "date",
                        "label": "Date Updated"
                    },
                    {
                        "name": "date_closed",
                        "type": "date",
                        "label": "Date Closed"
                    },
                    {
                        "name": "archived",
                        "type": "boolean",
                        "label": "Archived"
                    },
                    {
                        "name": "creator",
                        "spec": [
                            {
                                "name": "id",
                                "type": "number",
                                "label": "User ID"
                            },
                            {
                                "name": "username",
                                "type": "text",
                                "label": "Username"
                            },
                            {
                                "name": "color",
                                "type": "color",
                                "label": "Color"
                            },
                            {
                                "name": "profilePicture",
                                "type": "text",
                                "label": "Profile Picture"
                            },
                            {
                                "name": "email",
                                "type": "text",
                                "label": "Email"
                            }
                        ],
                        "type": "collection",
                        "label": "Creator"
                    },
                    {
                        "name": "assignees",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "number",
                                    "label": "User ID"
                                },
                                {
                                    "name": "username",
                                    "type": "text",
                                    "label": "Username"
                                },
                                {
                                    "name": "color",
                                    "type": "color",
                                    "label": "Color"
                                },
                                {
                                    "name": "initials",
                                    "type": "text",
                                    "label": "Initials"
                                },
                                {
                                    "name": "profilePicture",
                                    "type": "url",
                                    "label": "Profile Picture"
                                },
                                {
                                    "name": "email",
                                    "type": "email",
                                    "label": "Email"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Assignees"
                    },
                    {
                        "name": "checklists",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "task_id",
                                "type": "text",
                                "label": "Task ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "date_created",
                                "type": "date",
                                "label": "Date Created"
                            },
                            {
                                "name": "orderindex",
                                "type": "number",
                                "label": "Orderindex"
                            },
                            {
                                "name": "creator",
                                "type": "number",
                                "label": "Creator"
                            },
                            {
                                "name": "resolved",
                                "type": "number",
                                "label": "Resolved"
                            },
                            {
                                "name": "unresolved",
                                "type": "number",
                                "label": "Unresolved"
                            },
                            {
                                "name": "items",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "orderindex",
                                            "type": "number",
                                            "label": "Orderindex"
                                        },
                                        {
                                            "name": "assignee",
                                            "type": "text",
                                            "label": "Assignee"
                                        },
                                        {
                                            "name": "group_assignee",
                                            "type": "text",
                                            "label": "Group Assignee"
                                        },
                                        {
                                            "name": "resolved",
                                            "type": "boolean",
                                            "label": "Resolved"
                                        },
                                        {
                                            "name": "parent",
                                            "type": "text",
                                            "label": "Parent"
                                        },
                                        {
                                            "name": "date_created",
                                            "type": "date",
                                            "label": "Date Created"
                                        },
                                        {
                                            "name": "children",
                                            "type": "array",
                                            "label": "Children"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Items"
                            }
                        ],
                        "type": "array",
                        "label": "Checklists"
                    },
                    {
                        "name": "watchers",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "number",
                                    "label": "User ID"
                                },
                                {
                                    "name": "username",
                                    "type": "text",
                                    "label": "Username"
                                },
                                {
                                    "name": "color",
                                    "type": "color",
                                    "label": "Color"
                                },
                                {
                                    "name": "initials",
                                    "type": "text",
                                    "label": "Initials"
                                },
                                {
                                    "name": "profilePicture",
                                    "type": "url",
                                    "label": "Profile Picture"
                                },
                                {
                                    "name": "email",
                                    "type": "email",
                                    "label": "Email"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Watchers"
                    },
                    {
                        "name": "tags",
                        "spec": {
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "creator",
                                    "type": "text",
                                    "label": "Creator"
                                },
                                {
                                    "name": "tag_fg",
                                    "type": "color",
                                    "label": "Tag Fg"
                                },
                                {
                                    "name": "tag_bg",
                                    "type": "color",
                                    "label": "Tag Bg"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Tags"
                    },
                    {
                        "name": "parent",
                        "type": "text",
                        "label": "Parent"
                    },
                    {
                        "name": "linked_tasks",
                        "spec": {
                            "spec": [
                                {
                                    "name": "task_id",
                                    "type": "text",
                                    "label": "Task ID"
                                },
                                {
                                    "name": "link_id",
                                    "type": "text",
                                    "label": "Link ID"
                                },
                                {
                                    "name": "date_created",
                                    "type": "date",
                                    "label": "Date Created"
                                },
                                {
                                    "name": "userid",
                                    "type": "text",
                                    "label": "User ID"
                                },
                                {
                                    "name": "workspace_id",
                                    "type": "text",
                                    "label": "Workspace ID"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Linked Tasks"
                    },
                    {
                        "name": "permission_level",
                        "type": "text",
                        "label": "Permission Level"
                    },
                    {
                        "name": "priority",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "priority",
                                "type": "text",
                                "label": "Priority"
                            },
                            {
                                "name": "color",
                                "type": "color",
                                "label": "Color"
                            },
                            {
                                "name": "orderindex",
                                "type": "text",
                                "label": "Order Index"
                            }
                        ],
                        "type": "collection",
                        "label": "Priority"
                    },
                    {
                        "name": "due_date",
                        "type": "date",
                        "label": "Due Date"
                    },
                    {
                        "name": "start_date",
                        "type": "date",
                        "label": "Start Date"
                    },
                    {
                        "name": "points",
                        "type": "text",
                        "label": "Points"
                    },
                    {
                        "name": "time_estimate",
                        "type": "integer",
                        "label": "Time Estimate (in minutes)"
                    },
                    {
                        "name": "time_spent",
                        "type": "uinteger",
                        "label": "Time Spent"
                    },
                    {
                        "name": "list",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "List ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "List Name"
                            },
                            {
                                "name": "access",
                                "type": "boolean",
                                "label": "Access"
                            }
                        ],
                        "type": "collection",
                        "label": "List"
                    },
                    {
                        "name": "project",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Project ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Project Name"
                            },
                            {
                                "name": "hidden",
                                "type": "boolean",
                                "label": "Hidden"
                            },
                            {
                                "name": "access",
                                "type": "boolean",
                                "label": "Access"
                            }
                        ],
                        "type": "collection",
                        "label": "Project"
                    },
                    {
                        "name": "folder",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Folder Name"
                            },
                            {
                                "name": "hidden",
                                "type": "boolean",
                                "label": "Hidden"
                            },
                            {
                                "name": "access",
                                "type": "boolean",
                                "label": "Access"
                            }
                        ],
                        "type": "collection",
                        "label": "Folder"
                    },
                    {
                        "name": "space",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Space ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Space"
                    },
                    {
                        "name": "dependencies",
                        "spec": {
                            "spec": [
                                {
                                    "name": "task_id",
                                    "type": "text",
                                    "label": "Task ID"
                                },
                                {
                                    "name": "depends_on",
                                    "type": "text",
                                    "label": "Depends On Task ID"
                                },
                                {
                                    "name": "type",
                                    "type": "number",
                                    "label": "Type"
                                },
                                {
                                    "name": "date_created",
                                    "type": "date",
                                    "label": "Date Created"
                                },
                                {
                                    "name": "userid",
                                    "type": "text",
                                    "label": "User ID"
                                },
                                {
                                    "name": "workspace_id",
                                    "type": "text",
                                    "label": "Workspace ID"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Dependencies"
                    },
                    {
                        "name": "team_id",
                        "type": "text",
                        "label": "Workspace ID"
                    },
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                    },
                    {
                        "name": "custom_fields_original",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "type_config",
                                    "spec": [],
                                    "type": "collection",
                                    "label": "Type Config"
                                },
                                {
                                    "name": "date_created",
                                    "type": "date",
                                    "label": "Date Created"
                                },
                                {
                                    "name": "hide_from_guests",
                                    "type": "boolean",
                                    "label": "Hide From Guests"
                                },
                                {
                                    "name": "value",
                                    "type": "any",
                                    "label": "Value"
                                },
                                {
                                    "name": "required",
                                    "type": "boolean",
                                    "label": "Required"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Custom Fields (original)"
                    },
                    {
                        "name": "custom_fields",
                        "spec": [],
                        "type": "collection",
                        "label": "Custom Fields"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 14,
                    "module": "builtin:Resume",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "id": "",
                        "url": "",
                        "list": {
                            "id": "",
                            "name": ""
                        },
                        "name": "",
                        "tags": [],
                        "space": {
                            "id": ""
                        },
                        "folder": {
                            "id": "",
                            "name": ""
                        },
                        "parent": "",
                        "points": "",
                        "status": {
                            "id": "",
                            "type": "",
                            "color": "",
                            "status": "",
                            "orderindex": ""
                        },
                        "creator": {
                            "id": "",
                            "color": "",
                            "email": "",
                            "username": "",
                            "profilePicture": ""
                        },
                        "project": {
                            "id": "",
                            "name": ""
                        },
                        "sharing": {
                            "token": "",
                            "public_fields": [],
                            "public_share_expires_on": ""
                        },
                        "team_id": "",
                        "due_date": "",
                        "priority": {
                            "id": "",
                            "color": "",
                            "priority": "",
                            "orderindex": ""
                        },
                        "subtasks": [],
                        "watchers": [],
                        "assignees": [],
                        "custom_id": "",
                        "date_done": "",
                        "locations": [],
                        "checklists": [],
                        "orderindex": "",
                        "start_date": "",
                        "time_spent": "",
                        "date_closed": "",
                        "description": "",
                        "date_created": "",
                        "date_updated": "",
                        "dependencies": [],
                        "linked_tasks": [],
                        "text_content": "",
                        "custom_fields": {},
                        "time_estimate": "",
                        "custom_item_id": "",
                        "group_assignees": [],
                        "permission_level": "",
                        "top_level_parent": "",
                        "markdown_description": "",
                        "custom_fields_original": []
                    },
                    "metadata": {
                        "designer": {
                            "x": 600,
                            "y": 0
                        },
                        "restore": {
                            "expect": {
                                "list": {
                                    "nested": {
                                        "access": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "tags": {
                                    "mode": "chose"
                                },
                                "folder": {
                                    "nested": {
                                        "access": {
                                            "mode": "chose"
                                        },
                                        "hidden": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "project": {
                                    "nested": {
                                        "access": {
                                            "mode": "chose"
                                        },
                                        "hidden": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "sharing": {
                                    "nested": {
                                        "public": {
                                            "mode": "chose"
                                        },
                                        "public_fields": {
                                            "mode": "chose"
                                        },
                                        "seo_optimized": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "archived": {
                                    "mode": "chose"
                                },
                                "subtasks": {
                                    "mode": "chose"
                                },
                                "watchers": {
                                    "mode": "chose"
                                },
                                "assignees": {
                                    "mode": "chose"
                                },
                                "locations": {
                                    "mode": "chose"
                                },
                                "checklists": {
                                    "mode": "chose"
                                },
                                "dependencies": {
                                    "mode": "chose"
                                },
                                "linked_tasks": {
                                    "mode": "chose"
                                },
                                "group_assignees": {
                                    "mode": "chose"
                                },
                                "custom_fields_original": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Task ID"
                            },
                            {
                                "name": "sharing",
                                "spec": [
                                    {
                                        "name": "public",
                                        "type": "boolean",
                                        "label": "Public"
                                    },
                                    {
                                        "name": "public_share_expires_on",
                                        "type": "date",
                                        "label": "Public Share Expires On"
                                    },
                                    {
                                        "name": "token",
                                        "type": "text",
                                        "label": "Token"
                                    },
                                    {
                                        "name": "seo_optimized",
                                        "type": "boolean",
                                        "label": "SEO Optimized"
                                    },
                                    {
                                        "name": "public_fields",
                                        "spec": {
                                            "name": "value",
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Public Fields"
                                    }
                                ],
                                "type": "collection",
                                "label": "Sharing"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Task Name"
                            },
                            {
                                "name": "custom_id",
                                "type": "text",
                                "label": "Custom ID"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Description"
                            },
                            {
                                "name": "text_content",
                                "type": "text",
                                "label": "Text Content"
                            },
                            {
                                "name": "custom_item_id",
                                "type": "text",
                                "label": "Custom Item ID"
                            },
                            {
                                "name": "date_done",
                                "type": "date",
                                "label": "Date Done"
                            },
                            {
                                "name": "markdown_description",
                                "type": "text",
                                "label": "Markdown Description"
                            },
                            {
                                "name": "top_level_parent",
                                "type": "text",
                                "label": "Top Level Parent"
                            },
                            {
                                "name": "group_assignees",
                                "spec": {
                                    "name": "value",
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Group Assignees"
                            },
                            {
                                "name": "locations",
                                "spec": {
                                    "name": "value",
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Locations"
                            },
                            {
                                "name": "subtasks",
                                "spec": {
                                    "name": "value",
                                    "spec": [],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Subtasks"
                            },
                            {
                                "name": "status",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "status",
                                        "type": "text",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "color",
                                        "type": "color",
                                        "label": "Color"
                                    },
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "orderindex",
                                        "type": "number",
                                        "label": "Order Index"
                                    }
                                ],
                                "type": "collection",
                                "label": "Status"
                            },
                            {
                                "name": "orderindex",
                                "type": "text",
                                "label": "Order Index"
                            },
                            {
                                "name": "date_created",
                                "type": "date",
                                "label": "Date Created"
                            },
                            {
                                "name": "date_updated",
                                "type": "date",
                                "label": "Date Updated"
                            },
                            {
                                "name": "date_closed",
                                "type": "date",
                                "label": "Date Closed"
                            },
                            {
                                "name": "archived",
                                "type": "boolean",
                                "label": "Archived"
                            },
                            {
                                "name": "creator",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "number",
                                        "label": "User ID"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "Username"
                                    },
                                    {
                                        "name": "color",
                                        "type": "color",
                                        "label": "Color"
                                    },
                                    {
                                        "name": "profilePicture",
                                        "type": "text",
                                        "label": "Profile Picture"
                                    },
                                    {
                                        "name": "email",
                                        "type": "text",
                                        "label": "Email"
                                    }
                                ],
                                "type": "collection",
                                "label": "Creator"
                            },
                            {
                                "name": "assignees",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "number",
                                            "label": "User ID"
                                        },
                                        {
                                            "name": "username",
                                            "type": "text",
                                            "label": "Username"
                                        },
                                        {
                                            "name": "color",
                                            "type": "color",
                                            "label": "Color"
                                        },
                                        {
                                            "name": "initials",
                                            "type": "text",
                                            "label": "Initials"
                                        },
                                        {
                                            "name": "profilePicture",
                                            "type": "url",
                                            "label": "Profile Picture"
                                        },
                                        {
                                            "name": "email",
                                            "type": "email",
                                            "label": "Email"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Assignees"
                            },
                            {
                                "name": "checklists",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "task_id",
                                        "type": "text",
                                        "label": "Task ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "date_created",
                                        "type": "date",
                                        "label": "Date Created"
                                    },
                                    {
                                        "name": "orderindex",
                                        "type": "number",
                                        "label": "Orderindex"
                                    },
                                    {
                                        "name": "creator",
                                        "type": "number",
                                        "label": "Creator"
                                    },
                                    {
                                        "name": "resolved",
                                        "type": "number",
                                        "label": "Resolved"
                                    },
                                    {
                                        "name": "unresolved",
                                        "type": "number",
                                        "label": "Unresolved"
                                    },
                                    {
                                        "name": "items",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "text",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name"
                                                },
                                                {
                                                    "name": "orderindex",
                                                    "type": "number",
                                                    "label": "Orderindex"
                                                },
                                                {
                                                    "name": "assignee",
                                                    "type": "text",
                                                    "label": "Assignee"
                                                },
                                                {
                                                    "name": "group_assignee",
                                                    "type": "text",
                                                    "label": "Group Assignee"
                                                },
                                                {
                                                    "name": "resolved",
                                                    "type": "boolean",
                                                    "label": "Resolved"
                                                },
                                                {
                                                    "name": "parent",
                                                    "type": "text",
                                                    "label": "Parent"
                                                },
                                                {
                                                    "name": "date_created",
                                                    "type": "date",
                                                    "label": "Date Created"
                                                },
                                                {
                                                    "name": "children",
                                                    "type": "array",
                                                    "label": "Children"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Items"
                                    }
                                ],
                                "type": "array",
                                "label": "Checklists"
                            },
                            {
                                "name": "watchers",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "number",
                                            "label": "User ID"
                                        },
                                        {
                                            "name": "username",
                                            "type": "text",
                                            "label": "Username"
                                        },
                                        {
                                            "name": "color",
                                            "type": "color",
                                            "label": "Color"
                                        },
                                        {
                                            "name": "initials",
                                            "type": "text",
                                            "label": "Initials"
                                        },
                                        {
                                            "name": "profilePicture",
                                            "type": "url",
                                            "label": "Profile Picture"
                                        },
                                        {
                                            "name": "email",
                                            "type": "email",
                                            "label": "Email"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Watchers"
                            },
                            {
                                "name": "tags",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "creator",
                                            "type": "text",
                                            "label": "Creator"
                                        },
                                        {
                                            "name": "tag_fg",
                                            "type": "color",
                                            "label": "Tag Fg"
                                        },
                                        {
                                            "name": "tag_bg",
                                            "type": "color",
                                            "label": "Tag Bg"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Tags"
                            },
                            {
                                "name": "parent",
                                "type": "text",
                                "label": "Parent"
                            },
                            {
                                "name": "linked_tasks",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "task_id",
                                            "type": "text",
                                            "label": "Task ID"
                                        },
                                        {
                                            "name": "link_id",
                                            "type": "text",
                                            "label": "Link ID"
                                        },
                                        {
                                            "name": "date_created",
                                            "type": "date",
                                            "label": "Date Created"
                                        },
                                        {
                                            "name": "userid",
                                            "type": "text",
                                            "label": "User ID"
                                        },
                                        {
                                            "name": "workspace_id",
                                            "type": "text",
                                            "label": "Workspace ID"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Linked Tasks"
                            },
                            {
                                "name": "permission_level",
                                "type": "text",
                                "label": "Permission Level"
                            },
                            {
                                "name": "priority",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "priority",
                                        "type": "text",
                                        "label": "Priority"
                                    },
                                    {
                                        "name": "color",
                                        "type": "color",
                                        "label": "Color"
                                    },
                                    {
                                        "name": "orderindex",
                                        "type": "text",
                                        "label": "Order Index"
                                    }
                                ],
                                "type": "collection",
                                "label": "Priority"
                            },
                            {
                                "name": "due_date",
                                "type": "date",
                                "label": "Due Date"
                            },
                            {
                                "name": "start_date",
                                "type": "date",
                                "label": "Start Date"
                            },
                            {
                                "name": "points",
                                "type": "text",
                                "label": "Points"
                            },
                            {
                                "name": "time_estimate",
                                "type": "integer",
                                "label": "Time Estimate (in minutes)"
                            },
                            {
                                "name": "time_spent",
                                "type": "uinteger",
                                "label": "Time Spent"
                            },
                            {
                                "name": "list",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "List ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "List Name"
                                    },
                                    {
                                        "name": "access",
                                        "type": "boolean",
                                        "label": "Access"
                                    }
                                ],
                                "type": "collection",
                                "label": "List"
                            },
                            {
                                "name": "project",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Project ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Project Name"
                                    },
                                    {
                                        "name": "hidden",
                                        "type": "boolean",
                                        "label": "Hidden"
                                    },
                                    {
                                        "name": "access",
                                        "type": "boolean",
                                        "label": "Access"
                                    }
                                ],
                                "type": "collection",
                                "label": "Project"
                            },
                            {
                                "name": "folder",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Folder ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Folder Name"
                                    },
                                    {
                                        "name": "hidden",
                                        "type": "boolean",
                                        "label": "Hidden"
                                    },
                                    {
                                        "name": "access",
                                        "type": "boolean",
                                        "label": "Access"
                                    }
                                ],
                                "type": "collection",
                                "label": "Folder"
                            },
                            {
                                "name": "space",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Space ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Space"
                            },
                            {
                                "name": "dependencies",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "task_id",
                                            "type": "text",
                                            "label": "Task ID"
                                        },
                                        {
                                            "name": "depends_on",
                                            "type": "text",
                                            "label": "Depends On Task ID"
                                        },
                                        {
                                            "name": "type",
                                            "type": "number",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "date_created",
                                            "type": "date",
                                            "label": "Date Created"
                                        },
                                        {
                                            "name": "userid",
                                            "type": "text",
                                            "label": "User ID"
                                        },
                                        {
                                            "name": "workspace_id",
                                            "type": "text",
                                            "label": "Workspace ID"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Dependencies"
                            },
                            {
                                "name": "team_id",
                                "type": "text",
                                "label": "Workspace ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "custom_fields_original",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "type_config",
                                            "spec": [],
                                            "type": "collection",
                                            "label": "Type Config"
                                        },
                                        {
                                            "name": "date_created",
                                            "type": "date",
                                            "label": "Date Created"
                                        },
                                        {
                                            "name": "hide_from_guests",
                                            "type": "boolean",
                                            "label": "Hide From Guests"
                                        },
                                        {
                                            "name": "value",
                                            "type": "any",
                                            "label": "Value"
                                        },
                                        {
                                            "name": "required",
                                            "type": "boolean",
                                            "label": "Required"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Custom Fields (original)"
                            },
                            {
                                "name": "custom_fields",
                                "spec": [],
                                "type": "collection",
                                "label": "Custom Fields"
                            }
                        ]
                    }
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}